.bimg img{
    width:100%;
}
.goods .fenlei{
    margin:0 auto 80px;
    list-style: none;
    overflow: hidden;
    width: 500px;
}
.goods li{
    float:left;
    padding:0 30px;
    border:1px solid #dcdcdc;
    border-left:0;
}
.goods li a{
    line-height: 35px;
    color:#666;
}
.goods .er{
    border-left:1px solid #dcdcdc;
}
.goods li:hover{
    border-color:#c5a059;
    background: #c5a059;
}
.goods .imgs{
    width:240px;
    height: 240px;
    overflow: hidden;
    border-radius: 5px;
}
.goods .imgs img{
    width:240px;
    height: 240px;
}
.goods .con1:hover img{
    width: 270px;
    height: 270px;
    transition: all 1s;
}
.goods h2{
    font-size: 32px;
    color:#333;
    text-align: center;
    font-weight: 300;
    margin-bottom:50px;
}
.goods{
    padding:50px 0;
    overflow: hidden;
}
.goods .con{
    width: 1140px;
    margin:0 auto;
    overflow: hidden;
    margin-bottom: 50px;
}
.goods .con .con1{
    width:257px;
    overflow: hidden;
    margin:0 13px;
    float:left;
    margin-bottom:20px;
}
.goods .cont{
    margin-top:10px;
    font-size: 14px;
}
.goods .con1 a{
    text-align: center;
}
.goods .con1:hover a{
    color:#c5a059;
}
.goods .san{
    padding:0 15px;
}
.goods .fl{
    width: 390px;
    margin-bottom: 50px;
}
.goods .hot{
    background: #c5a059;
    border-color:#c5a059;
}
